.gitignore~

backend/.classpath
backend/.project
backend/.settings
backend/eclipse/*
backend/lib/*
backend/modules/*
backend/tmp/*
backend/test-result/*
backend/public/*
backend/logs/*
backend/precompiled/*
backend/*.log*
backend/*.iml
backend/*.ipr
backend/*.iws

frontend/bower_components/*
frontend/node_modules/*
frontend/.tmp/*
frontend/*.sublime-workspace
frontend/.idea
**/*.log
