include ../views/sections/modais/login

nav.navbar.navbar-default.navbar-static-top(data-ng-controller='headerController', ng-cloak, data-ng-init='init()')
	.container-fluid
		.navbar-header
			a(class='navbar-brand', href='#', ng-show="itemLocality != ''")
				h3(style="display:inline") Mercadão de {{itemLocality}}
		

		a.btn.btn-default.btn-raised.navbar-btn.pull-right(type='button', ng-hide='isLoggedIn()', data-toggle='modal', data-target="#modalLogin") Acessar Loja
		a.btn.btn-default.btn-raised.navbar-btn.pull-right(type='button', ng-show='isLoggedIn()', ng-click='logout()') Sair
		