@import "../../bower_components/bootstrap/less/bootstrap.less";

html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eeeeee;
}

.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.fill {
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden
}

.fill img {
    flex-shrink:0;
    min-width:100%;
    min-height:100%
}

.noPadding{
	padding: 0 !important;
}

.cardBottomInfo{
	position: absolute;
    bottom: 20px;
    left: 15px;
    right: 15px;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:15px; 
    color: #fff;
    font-size: 2em;
    background-color: #000000;
    opacity: 0.6;
}

.cardTopRightInfo{
	position: absolute;
    top: 16px;
    right: 18px;
    padding-top:15px;
    padding-right:15px; 
    color: #fff;
    font-size: 18px !important;
}

.cardTopLeftInfo{
	position: absolute;
    top: 16px;
    left: 18px;
    padding-top:15px;
    padding-left:15px; 
    color: #fff;
}

img.center {
    display: block;
    margin: 0 auto;
}

.always-bottom {
    position: relative !important;
    margin-top: 12% !important;
}

.comment-box {
    width: 100%;
    min-height: 200px;
}

.material-icons {
    float: left;
}

.preco {
    font-weight: bold;
    color: #B50000;
}

.produtoTitulo {
    margin-bottom: 20px;
}

.iconSuccess {
    color: #008000;
}

.iconError {
    color: #E20E0E;
}