.container-fluid
	.panel.panel-primary
		.panel-heading
			h3.panel-title Cadastrar Produto
		.panel-body
			form#cadastrarProduto

				.form-group
					label(for="nome") Nome *
					input#nome.form-control(ng-model="produto.nome", type="text")

				.form-group
					label(for="descricao") Descrição *
					input#descricao.form-control(ng-model="produto.descricao", type="text")

				.form-group
					label(for="preco") Preço *
					input#preco.form-control(ng-model="produto.preco", type="number", min="0", step="0.01", data-number-to-fixed="2")

				.form-group
					label(for="aceitaTroca") Aceita outro produto em troca? *
					.togglebutton
						label
							input(type='checkbox', checked='', ng-model='produto.aceitaTroca')
							| Não
							span.toggle(style="margin-left:13px;")
							| Sim

				.form-group
					label(for="produtoNovo") O produto é novo? *
					.togglebutton
						label
							input(type='checkbox', checked='', ng-model='produto.novo')
							| Não
							span.toggle(style="margin-left:13px;")
							| Sim

				.form-group
					label(for="vendido") O produto já foi vendido? *
					.togglebutton
						label
							input(type='checkbox', ng-model='produto.vendido')
							| Não
							span.toggle(style="margin-left:13px;")
							| Sim

				.form-group.is-fileinput.is-empty
					label.control-label(for='imagem') Imagem do produto *
					input#imagem(type='file')
					input.form-control(type='text', readonly='', placeholder='Clique aqui e adicione uma imagem ao produto')
					span.material-input
				
				a.btn.btn-default(type="button", ng-href="#/dashboard")
					i.material-icons navigate_before
					span  Voltar

				a.btn.btn-success.pull-right(type="button", ng-click="createProduto()")
					i.material-icons check
					span  Cadastrar