.container-fluid
	.row
		.col-md-12
			.panel.panel-primary
				.panel-heading
					h3 Produtos cadastrados
				.panel-body
					.div(masonry, ng-show="productList")
						.col-sm-6.col-lg-3.masonry-brick(ng-repeat="product in productList")
							a.jumbotron.noPadding.fill(ng-click='viewProduct(product)')
								img(ng-src="{{product.dado}}")
								.cardBottomInfo
									{{product.produto.nome}}
								.cardTopRightInfo
									.badge
										{{product.produto.preco | customCurrency}}
								.cardTopLeftInfo
									.btn-group-sm
										a.btn.btn-info.btn-fab(href="#/cadastrarEditarProduto")
											i.material-icons mode_edit
										a.btn.btn-danger.btn-fab(ng-click='deleteProduct(product)')
											i.material-icons delete
						.col-sm-6.col-lg-3.masonry-brick
							.jumbotron.noPadding.fill
								.text-center
									a.btn.btn-primary(href='#/cadastrarEditarProduto') Cadastrar
										i.material-icons add

					.col-md-12.text-center(ng-if="!productList")
						h3 Você não tem nenhum produto cadastrado
						a.btn.btn-primary(href='#/cadastrarEditarProduto') Cadastrar
							i.material-icons add

