.container-fluid
	.row
		.col-sm-3(style="padding-right:0px")
			.jumbotron
				.form-horizontal
					fieldset
						legend Filtros
						form#productFilter
							.col-md-12
								.form-group.label-floating.is-empty
									label.control-label(for="nomeProduto") Nome do Produto
									input#nomeProduto.form-control(ng-model="productFilter.nome",type="text",style="width:100%")
							.col-md-12
								.form-group.label-static.is-empty
									label.control-label(for="categoria") Categoria
									select#categoria.form-control(ng-model="productFilter.categoria",style="width:100%")
										option(value=1).
											Animais e acessórios
										option(value=2).
											Bebes e crianças
										option(value=3).
											Música e hobbies
										option(value=4).
											Moda e beleza
										option(value=5).
											Para a sua casa
										option(value=6).
											Esportes
										option(value=7).
											Eletrônicos e celulares
										option(value=8).
											Imóveis
										option(value=9).
											Veículos e Barcos
							.col-md-12
								.form-group
									label.control-label(for="Preco") Valor Máximo
									input#Preco.form-control(ng-model="productFilter.preco",type="number",style="width:100%")
							.col-md-12
								.form-group
									.col-md-12.noPadding
										label.control-label Estado de conservação
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.novo")
												span.checkbox-material
													span.check
												|     Novo
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.usado")
												span.checkbox-material
													span.check
												|     Usado
							.col-md-12
								.form-group
									.col-md-12.noPadding
										label.control-label Oferta
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.venda")
												span.checkbox-material 
													span.check
												|     Venda
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.troca")
												span.checkbox-material
													span.check
												|     Troca
							.col-md-12
								a.btn.btn-primary.pull-right Pesquisar
									i.material-icons search

		.col-sm-9(masonry)
			.col-md-6.col-lg-3.masonry-brick(ng-repeat="product in productList")
				a.jumbotron.noPadding.fill(ng-href="#/visualizarProduto")
					img(ng-src="{{product.imagem}}")
					.cardBottomInfo
						{{product.nome}}
					.cardTopRightInfo
						.badge
							{{product.preco | customCurrency}}
					
					
