.container-fluid
	.row
		.col-sm-3(style="padding-right:0px")
			.jumbotron
				.form-horizontal
					fieldset
						legend Filtros
						form#productFilter.novalidate
							.col-md-12
								.form-group.label-floating.is-empty
									label.control-label(for="nomeProduto") Nome do Produto
									input#nomeProduto.form-control.required(ng-model="productFilter.nome",type="text")
							.col-md-12
								.form-group
									label.control-label(for="Preco") Valor Máximo
									input#Preco.form-control(name="preco", ng-model="productFilter.preco", ui-money-mask)
							.col-md-12
									.form-group
										label.control-label(for='select') Tipo do produto
										select#select.form-control(name='select', ng-model="productFilter.tipo")
											option Eletrodomésticos
											option Celulares e Telefones
											option Informática
											option Portáteis
											option Móveis
											option Saúde e Beleza
											option Games
											option Livros
											option Automotivo
											option Tablets
											option ...

							.col-md-12
								.form-group
									.col-md-12.noPadding
										label.control-label Estado de conservação
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.novo")
												span.checkbox-material
													span.check
												|     Novo
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.usado")
												span.checkbox-material
													span.check
												|     Usado
							.col-md-12
								.form-group
									.col-md-12.noPadding
										label.control-label Oferta
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.venda")
												span.checkbox-material 
													span.check
												|     Venda
									.col-sm-6.noPadding
										.checkbox
											label
												input(type="checkbox", checked, ng-model="productFilter.troca")
												span.checkbox-material
													span.check
												|     Troca
							.col-md-6.pull-right
								a.btn.btn-primary(ng-click='listProducts()') Pesquisar
									i.material-icons search
							.col-md-6
								a.btn.btn-danger.pull-left(ng-click='limparFiltro()') Limpar
									i.material-icons clear

		.col-sm-9(ng-if="productList.length > 0", masonry)
			.col-md-6.col-lg-3.masonry-brick(ng-repeat="product in productList")
				a.jumbotron.noPadding.fill(ng-href='#/visualizarProduto/{{product.id}}')
					img(ng-src="{{product.dado}}")
					.cardBottomInfo
						{{product.produto.nome}}
					.cardTopRightInfo
						.badge
							{{product.produto.preco | customCurrency}}
		.col-sm-9.text-center(ng-if="productList.length <= 0")
			h2 Não foram encontrados produtos a serem exibidos.
					
