#modalLogin.modal.fade(data-backdrop='static')
	.modal-dialog
		.modal-content

			.modal-header
				
				h4.modal-title Acesso ao Sistema de Vendas
					i.material-icons.pull-right(data-dismiss="modal") close

			.modal-body

				.form
					.form-group
						label(for="login") Usuário:
						input.form-control(type="text", size="15", name="login", ng-model="username", autofocus)

					.form-group
						label(for="senha") Senha:
						input.form-control(type="password", size="15", name="senha", ng-model="password")

			.modal-footer

				a.text-center(style='margin-right:5px', href='#/cadastrarUsuario').
					Ser um vendedor!
				a.btn.btn-success(type="button", ng-click="login()", href='#/dashboard')
					i.material-icons check
					span  Entrar
				