mixin modalConfirmaRemocao()

	div#delModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
						span.sr-only Fechar
					h4#myModalLabel.modal-title {{modalRemocaoConfig.title}}
				div.modal-body
					| {{modalRemocaoConfig.textoBody}}
				div.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal')
						span.glyphicon.glyphicon-remove
						span  Cancelar
					button.btn.btn-danger(ng-click="modalRemocaoConfig.funcaoRemover()")
						span.glyphicon.glyphicon-trash
						span(style="color: #FFF;")  {{modalRemocaoConfig.textoBotaoRemover}}