mixin modalConfirmacao()

	div#confirmacaoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		div.modal-dialog
			div.modal-content
				div.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
						span.sr-only Fechar
					h4#myModalLabel.modal-title {{modalConfirmacaoConfig.title}}
				div.modal-body
					p {{modalConfirmacaoConfig.textoBody}}
					p(ng-show='modalConfirmacaoConfig.textoBodyPf2') {{modalConfirmacaoConfig.textoBodyPf2}}
				div.modal-footer
					button.btn.btn-danger(type='button', data-dismiss='modal')
						span.glyphicon.glyphicon-remove
						span  Cancelar
					button.btn.btn-success(ng-click="modalConfirmacaoConfig.funcaoConfirmar()")
						span.glyphicon.glyphicon-ok
						span(style="color: #FFF;")  {{modalConfirmacaoConfig.textoBotaoConfirmar}}