include ../../mixins/visualizarResponsavelTecnico
include ../../mixins/visualizarArtGae
include ../../components/fieldErrors

div.modal-header
	button.close(type='button', ng-click='fechar()')
		span(aria-hidden='true') ×
		span.sr-only Fechar
	h4#myModalLabel.modal-title Visualizar detalhes da solicitação
div.modal-body
	div.situacao-info
		div
			label Solicitação:
			span.label-dados  {{solicitacaoSelecionada.codigo}}
		div
			label Situação:
			span.label-dados  {{solicitacaoSelecionada.objetoTramitavel.nomeCondicao}}

	ul.nav.nav-tabs.nav-justified(ng-init='tab = 1')
		li(role="presentation", ng-class="{'active' : tab===1}" )
			a(ng-click='tab=1') Representação Geográfica

		li(role="presentation" ,  ng-class="{'active' : tab===2}")
			a(ng-click='tab=2') Quadro de áreas

		li(role="presentation" ,  ng-class="{'active' : tab===3}")
			a(ng-click='tab=3') Representante Técnico

		li(role="presentation" ,  ng-class="{'active' : tab===4}")
			a(ng-click='tab=4') Histórico

		div.mapContainer.espaco(ng-show="tab == 1")
			leaflet#mapRepresentacaoGeografica(height='100%', width='100%', layers='layers', defaults='defaults')

		div.espaco(ng-show="tab == 2")
					
			div.panel.panel-default

				div.panel-heading
					span.panel-title Quadro de áreas da caracterização

				div.panel-body

					table.table.table-hover.table-condensed
						thead
							tr(ng-if='solicitacaoSelecionada.temasCaracterizacao.length > 0')
								th.col-md-8
									span Descrição
									
								th.col-md-4
									span Área
							tr(ng-if='solicitacaoSelecionada.temasCaracterizacao.length == 0')
						tbody
							tr(ng-show='solicitacaoSelecionada.temasCaracterizacao.length > 0', ng-repeat='temaCaracterizacao in solicitacaoSelecionada.temasCaracterizacao')
								td {{temaCaracterizacao.tema.nome}}
								td {{temaCaracterizacao.area.metersToHectare().toFixed(4)}} ha
							tr(ng-if='solicitacaoSelecionada.temasCaracterizacao.length == 0')
								td
									.text-center Nenhuma caracterização vetorizada.
			div.panel.panel-default

				div.panel-heading
					span.panel-title Quadro de áreas da solicitação

				div.panel-body

					table.table.table-hover.table-condensed
						thead
							tr(ng-if='solicitacaoSelecionada.temasSolicitacao.length > 0')
								th.col-md-8
									span Descrição

								th.col-md-4 
									span Área
							tr(ng-if='solicitacaoSelecionada.temasSolicitacao.length == 0')

						tbody
							tr(ng-show='solicitacaoSelecionada.temasSolicitacao.length > 0', ng-repeat='temaSolicitacao in solicitacaoSelecionada.temasSolicitacao')
								td {{temaSolicitacao.tema.nome}}
								td {{temaSolicitacao.area.metersToHectare().toFixed(4)}} ha
							tr(ng-if='solicitacaoSelecionada.temasSolicitacao.length == 0')
								td
									.text-center Nehuma solicitação de supressão vetorizada.

		div.espaco(ng-show="tab == 3")
			+visualizarResponsavelTecnico()
			+visualizarArtGae

		div.espaco(ng-show="tab == 4")
			
			div.panel.panel-default
				div.panel-heading
					span.panel-title Histórico da Solicitação
				div.panel-body
					table.table.table-hover.table-condensed
						thead
							tr
								th.col-md-2
									| Data
								th.col-md-2
									| Hora
								th.col-md-8
									| Descrição
						tbody
							tr(ng-repeat="historicoTramitacao in solicitacaoSelecionada.historicoTramitacoes")
								td {{historicoTramitacao.data | date:'dd/MM/yyyy'}}
								td {{historicoTramitacao.data | date:'HH:mm'}}
								td {{historicoTramitacao.nomeCondicaoFinal}}
						
							
							

div.modal-footer
	button.btn.btn-default(type='button', ng-click='fechar()')
		span.glyphicon.glyphicon-remove
		span  Fechar