mixin breadcrumb(breadcrumbs)
	ol.breadcrumb.hidden-xs
		li
			a(href="#/") Propriedades Cadastradas

		each breadcrumb in breadcrumbs
			if (!breadcrumb.url)
				li.active= breadcrumb.title
			else
				li
					a(href= breadcrumb.url)= breadcrumb.title